:root {
    --main-text-color: #212121;
    --accent-color: #2196F3;
    --backround-color: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

.header-block {
    height: 80px;
    
}

.main-header-block {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.accent-color {
    color: var(--accent-color);
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: var(--backround-color);
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:14px ;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo-black {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px ;
    color: var(--main-text-color);

}

.logo-wight {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px ;
    color: var(--backround-color);
}

.logo-web {
    color: var(--accent-color)
}

.site-nav {
    display: flex;
}

.item-nav:not(:last-child) {
   margin-right: 50px;
}
.item-nav:first-child {
    margin-left:  93px;
 }

.site-nav-item:not(:last-child) {
    margin-right: 50px;
}
.site-nav-item:first-child {
    margin-left: 331px;
}

.site-nav-link {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;

    font-weight: 500;
    color: var(--main-text-color);
    letter-spacing: 0.02em; 
}

.contacts-nav-link {
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;

    font-weight: 500;
    color: var(--main-text-color);
    letter-spacing: 0.02em;
}

.site-nav-link:hover, .site-nav-link:focus,
.contacts-nav-link:hover, .contacts-nav-link:focus,
.footer-contacts:hover, .footer-contacts:focus
 {
    color: var(--accent-color)
}

.main-headline{
    background: #2F303A;
    color: var(--backround-color);
    padding: 200px 452px 280px 452px;
    margin: 0px;

    font-weight: 900;
    font-size:44px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.order-button {
    display: inline-flex;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    min-block-size: 200;
    height: 50;
    justify-content: center;
    
    color: var(--backround-color);
    background-color: var(--accent-color);

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size:16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;
 }

.we-doing, .our-advantages, .our-team  {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .our-advantages {
     margin-top: 94px;
     margin-bottom: 94px;
 }

.our-advantages-item:not(last-child) {
     margin-right: 30px;
 }

.our-advantages-item {
     width: 270px;
 }

 .we-doing-item{
     margin-top: 50px;
     margin-bottom: 94px;
 }
 
.we-doing-item:not(last-child) {
    margin-right: 30px;
}

.benefits-headline{
    font-size:14px;
    font-weight: 700;
    text-transform: uppercase;
}

.benefits-title {
line-height: 1.7;
}

.our-team-block {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}
.second-headline {
font-weight: 700;
font-size:36px ;
text-align: center;
}

.our-team-item:not(last-child) {
    margin-right: 30px;
}

.our-team-item {
    width: 270px;
}

.command-name {
    font-weight: 500;
    font-size:16px;
    text-align: center;
}

.command-name-position {
    font-size:16px ;
    color: #757575;
    text-align: center;
}

address {font-style: normal;}

.footer {
    display:flex;
    height: 252px;
    align-items: center;
    background-color: #2F303A;


    line-height: 1.7;
    color: var(--backround-color);

}

.footer-contacts {
    color: var(--backround-color) ;
}

.container-portfolio{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-button-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-portfolio:not(last-child) {
    margin-right: 8px;
}

.button-portfolio {
background-color: #F5F4FA;
height: 38px;
border: none;
border-radius: 4px;
margin-top: 94px;
margin-bottom: 50px;

font-family: 'Roboto', sans-serif;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
}

.button-portfolio-text:hover, .button-portfolio-text:focus {
padding: 6px 22px;

font-family: 'Roboto', sans-serif;
color: var(--backround-color);
letter-spacing: 0.03em;
}

.button-portfolio:hover, .button-portfolio:focus {
background-color: var(--accent-color);
}

.portfolio-items-block {
    display: flex;
    flex-wrap: wrap;
   
}

.portfolio-items-main {
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-items-main:nth-child(3n) {
    margin-right: 0px;
}
.portfolio-items-main:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.portfolio-items-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-items {
    font-size: 16px;
    line-height: 1.9;
    color: #757575;
    
}